.scrollable {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
      -ms-overflow-style: none;}
    ::-webkit-scrollbar {
      width: 0.2em;
    }
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #9c0000;
  }

  .ps{
    overflow: visible !important
  }