.scrollable{
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar{
    width: 6px;
    background-color: white;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 10px;
  }

  .input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 40px;
    background: #eaeaea;
    border-radius: 4px;
  }

  .input img{
    margin: 0px 10px;
  }

  .input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 14px;
  }

  .forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 14px;
  }

  .forgot-password span{
    color: blue;
    cursor: pointer;
  }

  .submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
  }

  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: blue;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
  }