.scrollable{
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar{
    width: 3px;
    background-color: white;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 4px;
    height: 10px;
  }